/* Inter by The Inter Project Authors, SIL Open Font License 1.1 (OFL.txt in this folder). */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Inter-400.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("Inter-700.woff2") format("woff2");
}
